<div id="wrapper">
  <div class="list">

    <div id="searchDiv">
        <mat-form-field class="small-input" appearance="outline">
          <mat-label>Search</mat-label>
          <input #searchInput type="text" (keyup)="search(searchInput.value)" matInput>
        </mat-form-field>
      <div class="new-recpie-container">
        <button (click)="newRecipe()" mat-stroked-button>New Recipe</button>
      </div>
    </div>

    <mat-accordion>
      <mat-expansion-panel multi="false" *ngFor="let recipe of recipeListToDisplay">
        <mat-expansion-panel-header>
          <mat-panel-title style="font-family: 'Open Sans', sans-serif;">
            {{ recipe.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-recipe-detail [recipeObj]="{recipe: recipe, timestamp: selectedTimestamp}"></app-recipe-detail>
      </mat-expansion-panel>
    </mat-accordion>

  </div>
</div>



