.mat-expansion-panel {
  border: 1px solid rgb(223, 223, 223);
  border-radius: 5px;
  box-shadow: none;
  max-width: 97%;
  margin: 0 auto 5px auto;
}

.mat-form-field {
  font-family: 'Open Sans', sans-serif;
}

.mat-pannel-title {
  font-family: 'Open Sans', sans-serif;
}

#wrapper {
  text-align: center;
  width: 97%;
  margin: 0 auto 15px auto;
}

li {
  display: flex;
  justify-content: space-between;
  text-align: left;
  padding: 10px;
  /* border-bottom: 1px solid rgb(223, 60, 55); */
  color: black;
  margin-bottom: 5px;
  list-style-type: none;
  height: 50px;

}

p {
  line-height: 50px;
  font-size: 11pt;
}

#searchDiv {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 98%;
  text-align: left;
  padding: 5px;
  margin: 10px auto 0 auto;
}

.new-recpie-container {
  height: fit-content;
}

.list {
  margin: auto;
  display: inline-grid;
  width: 100%;
  max-width: 1000px;

}

.details {
  padding: 20px;
  background-color: aliceblue;
}
