<h1>New Recipe</h1>

<form #newRecipeForm="ngForm" class="table" (ngSubmit)="onSave(newRecipeForm)" novalidate>
  <p>name: </p><input name="name" ngModel type="text" >
  <p>prep time: </p><input name="prepTime" ngModel type="text" >
  <p>cook time: </p><input name="cookTime" ngModel type="text" >
  <p>servings: </p><input name="servings" ngModel type="text" >
  <p>directions: </p><input name="directions" ngModel type="text" >
  <p>notes: </p><input name="notes" ngModel type="text" >
  <div><p>ingredients: </p></div>
  <button type="submit">Save</button>
</form>


