<mat-dialog-content>
  <h1>New Recipe</h1>

<form #newRecipeForm="ngForm" class="new-recipe-form" (ngSubmit)="onSave(newRecipeForm)" novalidate>

  <!-- basic inputs -->
  <p>
    <mat-form-field>
      <input name="name" ngModel type="text" matInput placeholder="Recipe Name">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input name="prepTime" ngModel type="text" matInput placeholder="Prep Time">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input name="cookTime" ngModel type="text" matInput placeholder="Cook Time">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input name="servings" ngModel type="text" matInput placeholder="Servings">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <textarea name="directions" ngModel matInput placeholder="Directions"></textarea>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <textarea name="notes" ngModel matInput placeholder="Notes"></textarea>
    </mat-form-field>
  </p>

  <ol *ngIf="ingredientList">
    <li *ngFor="let ingredient of ingredientList; let i=index; trackBy:trackByFn">
      <input type="text" name="{{ingredientList.indexOf(ingredient)}}" [(ngModel)]="ingredientList[i]">
      <button (click)="removeIngredient(ingredientList.indexOf(ingredient))" type="button">X</button>
    </li>
    <button (click)="addIngredientInput()" type="button">Add Ingredient</button>
  </ol>

  <div><p>ingredients: </p></div>
  <button mat-raised-button type="submit">Save</button>
</form>
</mat-dialog-content>



