<!-- This navbar is displayed when user is signed out -->
<div *ngIf="!(user.uidObs | async)">

  <nav id="navbarMain" class="navbar navbar-expand-md navbar-dark fixed-top">
    <a class="navbar-brand logo-text" href="">
      <img class="logo" src="../assets/LogoFullSmall.png">
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <mat-icon class="menu-icon">menu</mat-icon>
    </button>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <div class="navbar-nav ml-auto">
        <a class="nav-link" (click)="scrollToElement('#about')">About</a>
        <a class="nav-link" (click)="scrollToElement('#how')">How It Works</a>
        <a class="nav-link" (click)="scrollToElement('#try')">Try It</a>
        <button class="btn btn-outline-light btn1" (click)="user.login()">Sign In</button>
      </div>
    </div>
  </nav>

</div>

<!-- This navbar is displayed when user is signed in -->
<div *ngIf="user.uidObs | async">

  <nav class="navbar navbar-expand-md navbar-dark navbar2">
    <img class="logo" src="../../assets/MealTimeLogoTransparent.png">
    <a class="navbar-brand logo-text" href="">MealTime</a>
    <button class="btn btn-outline-light ml-auto btn2" (click)="user.logout()">sign out</button>
  </nav>

</div>
