<nav class="navbar navbar-expand-md navbar-dark fixed-top">
  <img class="logo" src="../../assets/MealTimeLogoTransparent.png">
  <a class="navbar-brand logo-text" href="">MealTime</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
    aria-label="Toggle navigation">
    <mat-icon class="menu-icon">menu</mat-icon>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-nav ml-auto">
      <a class="nav-link" href="">about</a>
      <a class="nav-link" href="">how it works</a>
      <a class="nav-link" href="">try it</a>
      <button class="btn btn-outline-light" (click)="user.login()">sign in</button>
    </div>
  </div>

</nav>
