
.btn {
    margin-right: 10px;
    margin-bottom: 4px;
    border: 2px solid white;
    border-radius: 10px;
    text-shadow: 0px 0px 10px #0000009a;
    -webkit-box-shadow: 0px 0px 10px 0px #00000036;
    box-shadow: 0px 0px 10px 0px #00000036;
}

.logo {
    margin-left: 5px;
}

.logo-text {
    color: white;
    font-size: 45px;
    font-family: 'Lobster Two', cursive;
    text-shadow: 0px 0px 10px #0000008f;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.095);

}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar {
    padding: 0;
}

.navbar a {
    color: white;
    font-size: 16px;
    margin-right: 20px;
    text-shadow: 0px 0px 10px #0000008f;
    /* -webkit-text-stroke: 1px rgba(0, 0, 0, 0.095); */
}

.navbar-links {
    font-family: 'Comfortaa', cursive;
}
