

.btn {
    margin-right: 15px;
    border: 2px solid white;
    border-radius: 10px;
    font-family: 'Comfortaa', cursive;
}

.logo {
    height: 55px;
    padding: 5px;
}

.logo-text {
    color: white;
    font-size: 40px;
    font-family: 'Lobster Two', cursive;
}

.logo-container {
    display: flex;
    align-items: center;
}

.navbar {
    padding: 0;
    background-color: #3f51b5;
}
