<div class="footer">
    <img src="../assets/waveFooter.png" class="footer-wave w-100" ondragstart="return false;">
    <div class="footer-content">
        <img src="../assets/LogoFullSmall.png" alt="Logo" ondragstart="return false;">
        <p>Created By</p>
        <p>
            <a href="https://github.com/brendenmoore" target="_blank">@brendenmoore</a> |
            <a href="https://github.com/Cbuzzard" target="_blank">@cbuzzard</a> |
            <a href="https://github.com/T-Mev" target="_blank">@t-mev</a>
        </p>
    </div>
</div>
<div class="footer-attribution">
    Icons by <a href="https://www.flaticon.com/authors/wanicon" target="_blank">wanicon</a>
    from <a href="https://www.flaticon.com/" target="_blank">flaticon.com</a>
</div>
