<div *ngIf="recipeObs | async as recipe" class="details">
  
  <div *ngIf="!isEdit; else edit" class="table">
    <p *ngIf="recipe.name">Name: </p><p *ngIf="recipe.name">{{recipe.name}}</p>
    <p *ngIf="recipe.prepTime">Prep Time: </p><p *ngIf="recipe.prepTime">{{recipe.prepTime}}</p>
    <p *ngIf="recipe.cookTime">Cook Time: </p><p *ngIf="recipe.cookTime">{{recipe.cookTime}}</p>
    <p *ngIf="recipe.servings">Servings: </p><p *ngIf="recipe.servings">{{recipe.servings}}</p>
    <p *ngIf="recipe.directions">Directions: </p><p *ngIf="recipe.directions">{{recipe.directions}}</p>
    <p *ngIf="recipe.notes">Notes: </p><p *ngIf="recipe.notes">{{recipe.notes}}</p>
    <p *ngIf="recipe.ingredients">Ingredients: </p> 
    <ol *ngIf="recipe.ingredients">
      <li *ngFor="let ingredient of recipe.ingredients; let i=index">&emsp;{{i+1}}. {{ingredient}}</li>
    </ol>
    <div id="editBtns">
      <input [(ngModel)]='dateSelectedForMenu' matInput (dateInput)="addToMenu($event.value.getTime())" [matDatepicker]="picker" style="width:0;margin:0;padding:0;border:0;">
      <mat-datepicker #picker></mat-datepicker>
      <button (click)="isEdit = true" type="button">Edit</button>
      <button  (click)="onDateSelected()">Add To Menu</button>
    </div>
  </div>

  <ng-template #edit>
    <form #editRecipeForm="ngForm" class="table" (ngSubmit)="processForm(editRecipeForm)" novalidate>
      <p>name: </p><input name="name" ngModel type="text" [(ngModel)]="recipe.name">
      <p>prep time: </p><input name="prepTime" ngModel type="text" [(ngModel)]="recipe.prepTime">
      <p>cook time: </p><input name="cookTime" ngModel type="text" [(ngModel)]="recipe.cookTime">
      <p>servings: </p><input name="servings" ngModel type="text" [(ngModel)]="recipe.servings">
      <p>directions: </p><input name="directions" ngModel type="text" [(ngModel)]="recipe.directions">
      <p>notes: </p><input name="notes" ngModel type="text" [(ngModel)]="recipe.notes">
      <div><p>ingredients: </p></div>
      <ol *ngIf="ingredientList">
        <li *ngFor="let ingredient of ingredientList; let i=index; trackBy:trackByFn">
          <input type="text" name="{{ingredientList.indexOf(ingredient)}}" [(ngModel)]="ingredientList[i]">
          <button (click)="removeIngredient(ingredientList.indexOf(ingredient))" type="button">X</button>
        </li>
        <button (click)="addIngredientInput()" type="button">Add Ingredient</button>
      </ol>
      <div id="editBtns">
        <button *ngIf="isEdit" type="submit">Save</button>
        <button (click)="deleteRecipe()">Delete Recipe</button>
      </div>
    </form>
  </ng-template>
    
</div>





