<div id="wrapper">
    <div>
        <button class='arrowBtn' (click)="goToPrevWeek()">&#60;</button> <h1>Menu</h1> <button class='arrowBtn' (click)="goToNextWeek()">&#62;</button>
    </div>
    <div id="menuGrid">
        <div class="item" *ngFor="let day of dayStringArr">
            <h2>{{day}}</h2>
        </div>
        <div *ngFor="let day of dayStringArr" class="item">
            <app-day-menu [menu]="observableArr[dayStringArr.indexOf(day)]"></app-day-menu>
            <button (click)="addingToMenu(timestampArr[dayStringArr.indexOf(day)])">Add</button>
        </div>
    </div>  
    <app-recipe-list (addedMenuItem)="finishedAdding($event)" [inputSelectedDate]="selectedDay" *ngIf="isAdding"></app-recipe-list>
    <button *ngIf="isAdding" (click)="finishedAdding(false)">Cancel</button>
</div>


    