#wrapper {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

#menuGrid {
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 80%;
}

h2 {
    text-align: center;
    width: 100%;
}

.item {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    width: 100%;
}

.arrowBtn {
    display: inline-block;
}

h1 {
    display: inline-block;
}

#arrows {
    width: 70%;
    min-width: 350px;
    display: inline-block;
    margin-bottom: 5px;
}

.mat-table {
    display: inline-block;
    width: 70%;
    min-width: 350px;
    border: 1px solid rgb(223, 223, 223);
    border-radius: 5px;
    box-shadow: none;
  }

.mat-column-Date {
    flex: 0 0 10% !important;
    min-width: 70px;
    white-space: unset !important;
}

app-day-menu {
    width: 100%;
    min-width: 200px;
    margin: 20px;
}

button {
    border: 0;
    background-color: white;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 20px;
}

button:hover {
    background-color: rgba(0, 0, 0, 0.08);;
}

div {
    text-align: left;
}
mat-cell {
    display: block;
}

::ng-deep .custom-dialog-container > .mat-dialog-container {
    padding: 0 !important;
}
