<!-- Dynamic header -->
<app-header></app-header>

<!-- Displayed when user is signed out -->
<div class="login-container" *ngIf="!(user.uidObs | async)">

    <div id="photos-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner-container">
            <!-- <div class="carousel-inner-text">
                <p class="carousel-title">your meals, your way</p>
            </div> -->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="../assets/photo1.png" class="photo d-block w-100" alt="Salad">
                </div>
                <div class="carousel-item">
                    <img src="../assets/photo2.png" class="photo d-block w-100" alt="Sushi">
                </div>
                <div class="carousel-item">
                    <img src="../assets/photo3.png" class="photo d-block w-100" alt="Fish">
                </div>
                <div class="carousel-item">
                    <img src="../assets/photo4.png" class="photo d-block w-100" alt="Dessert">
                </div>
                <div class="carousel-item">
                    <img src="../assets/photo5.png" class="photo d-block w-100" alt="Burger">
                </div>
            </div>
        </div>
    </div>

    <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim molestiae aspernatur fugit facere soluta est ipsa
        voluptatum error atque iure officia quae,
        earum dolores dolore, ut nesciunt reiciendis explicabo sed laboriosam? Sed, hic? Quam magni harum pariatur,
        mollitia dolores eligendi nisi, ipsam quidem
        expedita atque praesentium repellendus. Libero nam, corporis expedita voluptas quae dolorem. Aliquid modi
        suscipit iure minima dolore a, earum libero?
        Accusantium ipsa fuga quibusdam est omnis qui asperiores et beatae iste nobis minus libero, dicta dolore ad ut.
        Error, autem aliquid numquam rerum optio
        laudantium, nam possimus molestiae totam hic harum laboriosam ratione veniam id incidunt vel nemo mollitia ipsum
        maiores magni corrupti consequuntur labore
        ab iusto! Iusto vel quibusdam totam quae praesentium nostrum consequatur, aspernatur, architecto dicta
        voluptates, quidem quod dolore ex. Corrupti numquam
        obcaecati eaque alias blanditiis dolorem. Eum obcaecati facilis magnam quibusdam natus est! Impedit error neque
        quibusdam ad perferendis nisi dolorem
        sapiente soluta quos tempora obcaecati sequi provident autem eveniet esse nemo ipsum alias, rem quisquam dicta
        ipsam! Magni nam qui in autem consequuntur,
        aperiam rerum quod. Ducimus aliquam unde maxime distinctio aut quisquam numquam sit aperiam a qui accusamus
        aliquid et eius architecto fugit, voluptate
        quasi eos accusantium? Praesentium dicta facilis itaque maxime in nam quae! Rerum voluptatibus officia magni
        quos. Tempora quisquam ab voluptas?
        Dignissimos maiores quibusdam qui nam quo atque ex vel deleniti, placeat eveniet totam, eos, assumenda delectus
        dolorem ea. Quas officiis laudantium,
        totam culpa qui nulla optio hic unde distinctio quis eaque doloribus incidunt, modi veniam et. Minima
        praesentium impedit voluptatum, ullam fuga
        quae numquam soluta quaerat aperiam corrupti consequuntur rem qui, maxime optio. Quisquam aperiam pariatur ab?
        Totam veritatis cupiditate molestias
        optio laboriosam, aut consequatur! Voluptatibus fugit omnis vel, non voluptatum sit aliquam similique inventore
        expedita at laborum neque reiciendis.
        Laboriosam consequuntur aspernatur ab impedit, at reprehenderit totam ad omnis veniam, neque libero praesentium
        quo in iusto quis saepe! Corrupti
        iste error porro, quaerat unde inventore at quidem aperiam iure quos. Reiciendis rerum labore totam dolore
        tenetur facilis minus commodi quo sapiente,
        aspernatur voluptate quam placeat perferendis accusantium voluptas obcaecati aperiam cupiditate quasi eius
        maxime recusandae incidunt laboriosam
        dolorum ipsum. A et, maiores doloremque voluptatem ullam voluptatum. Placeat, quod voluptates eum provident
        necessitatibus ipsa porro doloremque
        cumque tempora aliquam voluptatibus nobis molestiae veniam itaque dolores soluta ipsum. Quos quae, vitae fuga
        fugiat numquam nihil dignissimos illum,
        sunt, saepe iste exercitationem quibusdam sapiente architecto at alias. Eveniet, dolor enim nesciunt commodi
        facere consequuntur odit tempora quis
        sed at provident incidunt et laboriosam veniam itaque veritatis inventore totam ut reiciendis voluptatibus
        officiis error voluptatum. Magnam autem
        a vitae, debitis iure similique ad, consequuntur aut provident aspernatur nobis enim! Provident voluptatem
        impedit minima reprehenderit vitae,
        autem earum debitis accusamus delectus dignissimos ipsum blanditiis, exercitationem pariatur quaerat magnam,
        commodi placeat? Consectetur maxime
        pariatur magnam sunt quos ipsum quas provident et beatae commodi dolor corrupti molestias voluptatibus unde
        perferendis, suscipit sapiente iure?
        Magni laboriosam eum illum, assumenda nam similique? Quia, magni! Maiores, cumque consectetur natus delectus
        quis mollitia in blanditiis
        architecto perspiciatis soluta iusto pariatur obcaecati sit cupiditate possimus odit, earum veritatis atque
        nihil neque quibusdam maxime.
        Eos, dignissimos ratione? Enim reiciendis provident esse molestiae iure culpa porro, saepe harum ipsum rem
        possimus obcaecati fugiat nostrum
        ab cumque incidunt quo? Officia eum nesciunt sed, reprehenderit laudantium et, corporis dignissimos error veniam
        itaque nihil alias tempore
        porro numquam esse. Illo consequuntur cumque veritatis, perspiciatis corporis quo facilis qui eum totam
        blanditiis at delectus voluptatibus
        est aliquam nulla officiis doloremque nostrum labore iste ut inventore sed libero. Mollitia nisi cupiditate ut
        exercitationem aperiam facere
        accusamus? Quod laborum nulla impedit nam? Id maxime ad, labore harum quam rerum perspiciatis quod similique sit
        aspernatur. Odio repellendus
        mo nostrum eius beatae, ratione maiores, provident tempora veritatis dicta nihil eum ipsam. Impedit repellendus
        numquam, magni provident alias
        nostrum voluptates voluptas iure expedita vitae autem, architecto aut quam est sint? Quam modi magni non
        voluptates omnis distinctio fugiat
        veritatis deleniti, rem voluptas. Blanditiis, a illum odio officia cumque odit similique, eos laudantium ex
        tenetur fugiat? Nostrum provident
        molestiae doloremque debitis consectetur veritatis minima animi, eius quae nulla asperiores laudantium! Quisquam
        fuga ab, ratione cum
        facilis vero, maiores vitae deleniti reiciendis earum rem quibusdam? Accusamus quaerat architecto impedit
        eligendi ea facilis reiciendis
        alias obcaecati! Sint error inventore earum perspiciatis quam quasi corrupti, officia, commodi rem ea veritatis
        fuga aspernatur,
        molestias pariatur! Distinctio veniam dolor animi suscipit sequi exercitationem cupiditate quod quos deleniti
        quasi asperiores corporis
        aliquam fuga ea obcaecati minima, beatae nostrum quae! Mollitia eius ut quibusdam dolorum, tempora doloremque
        reprehenderit nobis nisi
        corporis maiores numquam illum, obcaecati debitis iste et harum perferendis doloribus exercitationem officiis
        quae sit quasi minus
        laboriosam. Labore amet iusto minus, vel quo omnis modi maxime recusandae, fugit, cumque aut eaque. Quo ab in
        itaque laudantium deserunt
        architecto. Cumque commodi eligendi error ab id. Fugit, rerum, illum enim atque omnis a ut magni neque aliquam
        illo iure assumenda
        maiores laboriosam fuga suscipit voluptate quas eveniet veritatis quibusdam voluptates ullam et exercitationem
        dignissimos voluptas?
        Eaque pariatur ratione corrupti exercitationem quae illum quia nulla, dolor deserunt accusamus a laborum sint
        quam accusantium inventore
        non facere dignissimos commodi iste consectetur adipisci saepe, debitis est. Odit totam veniam cumque unde
        aspernatur, impedit accusantium
        voluptate quia minima rerum dolorem repellat similique deleniti sapiente? Facilis adipisci aperiam dolorum
        laboriosam molestiae itaque
        iusto consequatur, sit esse quo eum eaque beatae. Quibusdam dolores, velit dignissimos adipisci numquam sint ad
        repellendus illo, cum
        consequatur aperiam tempore repudiandae architecto labore vero minima minus culpa nostrum dolor, fugit natus ut.
        Impedit sapiente c
        orporis quod dolorem ea, quibusdam nemo est harum aliquam voluptatem molestiae nobis, maxime, nesciunt omnis.
        Accusamus unde quibusdam
        itaque atque rerum, inventore sapiente quo commodi incidunt ipsa, accusantium asperiores voluptas velit odio
        quod neque laboriosam tota
        m provident ab rem architecto, beatae corporis recusandae! Perspiciatis ipsa dolor, omnis eveniet id recusandae!
        Magni ad cupiditate s
        int eveniet? Fuga aperiam neque assumenda est reprehenderit velit dicta reiciendis voluptate similique maxime
        officia eos itaque pariat
        ur accusantium tenetur minima aspernatur, architecto autem nemo accusamus iusto vitae porro. Accusamus, nemo
        optio.
    </div>

    <div>
        Icons by <a href="https://www.flaticon.com/authors/wanicon" title="wanicon">wanicon</a>
        from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>

</div>

<!-- Displayed when user is signed in -->
<div *ngIf="user.uidObs | async">

    <mat-tab-group dynamicHeight mat-align-tabs="center">
        <mat-tab label="Recipes">
            <app-recipe-list></app-recipe-list>
        </mat-tab>
        <mat-tab label="Menu">
            <app-menu></app-menu>
        </mat-tab>
        <mat-tab label="Shopping">
            <app-shopping-list></app-shopping-list>
        </mat-tab>
    </mat-tab-group>

</div>
