
.mat-tab-group {
  margin-bottom: 48px;
}

.login-btn {
  padding: 20px 40px;
}

.photo {
  margin-top: -90px;
}

@media only screen and (max-width: 768px) {
  .photo {
      margin-top: 0;
  }
}

@media only screen and (max-width: 355px) {
  .photo {
    height: 200px;
  }
}
