
/* .carousel-inner-container {
  position: relative;
}

.carousel-inner-text {
  color: white;
  background: rgba(255, 255, 255, 0.219);
  width: 100%;
  text-align: center;
  height: 200px;
  font-size: 5vw;
  font-family: 'Comfortaa', cursive;
  text-shadow: 0px 0px 10px #040735a8;
  position: absolute;
  z-index: 2;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

.btn-primary {
  background: radial-gradient(circle, rgba(41,80,235,1) 0%, rgba(67,60,189,1) 100%);
  padding: 8px 25px;
  margin: 30px;
  border: none;
  border-radius: 20px;
  text-shadow: 0px 0px 10px #040735a8;
  -webkit-box-shadow: 0px 0px 10px 0px #00053136;
  box-shadow: 0px 0px 10px 0px #00053136;
}

.content {
  font-family: 'Open Sans', sans-serif;
}

.content-container {
  margin: 50px 0;
}

.features {
  margin: 40px 0;
  padding: 20px;
}

.features h4 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(58, 81, 185);
  text-shadow: 0px 0px 10px #0407351e;
}

.features-icons {
  width: 100px;
  margin-bottom: 20px;
}

.features p {
  font-family: 'Open Sans', sans-serif;
}

.how-to-container {
  background: rgb(226, 232, 255);
  border-radius: 20px;
  margin: 100px auto 0 auto;
  width: 90%;
}

.how-to-content {
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
}


.login-btn {
  padding: 20px 40px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.photo {
  margin-top: -90px;
}

.titles {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 20px;
  color: rgb(58, 81, 185);
  text-shadow: 0px 0px 10px #0407351e;
}

.titles::before {
  content: '';
  background: rgb(58, 81, 185);
  height: 5px;
  width: 200px;
  margin: 0 auto;
  display: block;
  transform: translateY(46px);
}

.titles::after {
  content: '';
  background: rgb(58, 81, 185);
  height: 10px;
  width: 80px;
  margin: 0 auto 40px auto;
  display: block;
  transform: translateY(5px);
}

.width-container {
  color: rgb(82, 82, 82);
  width: 80%;
  margin: 0 auto;
  text-align: center;
  font-size: 17px;
  font-family: 'Comfortaa', cursive;
}

@media only screen and (max-width: 1366px) {

  .how-to-container {
    margin-top: 70px;
    width: 100%;
  }

  .width-container {
    width: 95%;
  }
}

@media only screen and (max-width: 1024px) {

  .how-to-container {
    margin-top: 70px;
    width: 100%;
  }

  .width-container {
    width: 95%;
  }
}

@media only screen and (max-width: 768px) {
  .content-container {
    margin: 50px 0;
  }

  .titles {
    font-size: 1.5em;
  }

  .titles::before {
    height: 3px;
    width: 150px;
    transform: translateY(33px);
  }

  .titles::after {
    height: 6px;
    width: 50px;
    transform: translateY(3px);
  }

  .features {
    margin: 5px 0;
  }

  .how-to-container {
    margin-top: 70px;
    width: 100%;
  }

  .photo {
      margin-top: 0;
  }

  .width-container {
    width: 90%;
  }
}

@media only screen and (max-width: 355px) {
  .photo {
    height: 200px;
  }
}
