
  li {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 10px;
    background-color: #789;
    color: white;
    margin: 5px;
    list-style-type: none;
  }

  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 200ms cubic-bezier(1, 0, 0, 0);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .animationContainer.cdk-drop-list-dragging .animationItem:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  